@page "/chart"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Plotly.Blazor.LayoutLib

@if (ChartsState.Value.Loaded)
{
    <PlotlyChart Id="Projects" Config="config" Layout="layoutProjects" Data=GetDataOfSingleProjectsToday() @ref="chart"/>
    <PlotlyChart Id="Total" Config="config" Layout="layoutTotal" Data=GetDataTotal() @ref="chart"/>
}
else
{
    <button type="button" class="btn btn-secondary" @onclick="LoadChartData">Diagramme laden</button>
}

