@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>AcademicTimePlanner</PageTitle>

@if (ProjectFilesState.Value.Loaded)
{
    <p>@PlanProjectsNames.Count Plan-Projekte geladen</p>
}

<InputFile OnChange="@LoadPlanProjects" multiple />

@if (ProjectFilesState.Value.Loaded)
{
    <ul>
    @foreach (var name in PlanProjectsNames)
    {
       <li>@name</li>
    }
    </ul>
}