@page "/toggle"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Anzahl Toggl-Projekte</h3>

@if (TogglState.Value.Loaded)
{
    <p>"@NumberOfTogglProjects" Toggl-Projekte geladen</p>
}
else
{
    <p>Keine Daten geladen - Toggl-Einstellungen fehlen</p>
    <button type="button" class="btn btn-secondary" @onclick="AskForTogglCredentials">Toggl-Einstellungen eingeben</button>
}
