@page "/toggl"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Anzahl Toggl-Projekte</h3>

@if (TogglState.Value.Loaded)
{
    <p>@NumberOfTogglProjects Toggl-Projekte geladen</p>
}
else
{
    <p>Keine Daten geladen - Toggl-Einstellungen fehlen</p>
    
    <EditForm Model="@TogglSettings" OnValidSubmit="@SaveTogglSettings">
        <label>Toggl API-Key: <InputText id="toggl-api-key" @bind-Value="TogglSettings.TogglApiKey" /></label>
        <label>Toggl Workspace-Id: <InputText id="toggl-workspace-id" @bind-Value="TogglSettings.TogglWorkspaceId" /></label>
        <button type="submit">Toggl-Daten speichern</button>
    </EditForm>


}
