<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AcademicTimePlanner</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Startseite
            </NavLink>
        </div>
       <div class="nav-item px-3">
           <NavLink class="nav-link" href="charts">
               <span class="oi oi-list-rich" aria-hidden="true"></span>Graphen
           </NavLink>
       </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toggl">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Toggl
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plangraph">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Plan Graph
            </NavLink>
        </div>
    </nav>
</div>

